<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freebusy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.freebusy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
       
        <activity android:name="com.example.freebusy.ConsultActivity"></activity>
     <activity android:name="com.example.freebusy.DashboardActivity"></activity>
     <activity android:name="com.example.freebusy.ProfActivity"></activity>
     <activity android:name="com.example.freebusy.ScheduleActivity"></activity>
    
    </application>

</manifest>
